@import "reset";
@import "color";

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

//header styles
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;

        .header__list {
            display: flex;

            .header__item {
                margin-right: 82px;

                .header__link {
                    font-size: 18px;
                    line-height: 24px;
                    text-decoration: none;
                    color: #fff;
                }

                .header__link:hover,
                .header__link:focus,
                .header__link:active {
                    opacity: 0.75;
                }
            }

            .header__item:last-child {
                margin-right: 0;
            }
        }
    }
}

// Intro styles start
.main {
    .intro {
        min-height: 100vh;
        background: url(../../img/bg.jpg) no-repeat center;
        background-size: cover;

        .wrapper {
            .intro__global {
                padding-top: 263px;
                color: #ffffff;

                .intro__title {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 60px;
                    padding-bottom: 22px;
                    max-width: 619px;
                }
                .intro__text {
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 59px;
                }
                .intro__form {
                    display: flex;
                    padding-bottom: 376px;
                    .form__input {
                        background: transparent,
                            url(../../img/svg/Oval.svg) no-repeat left 1px;
                        border: none;
                        border-bottom: 2px solid #bfc0c5;
                        width: 297px;
                        padding-left: 43px;
                        padding-bottom: 22px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                        margin-right: 61px;
                    }
                    .form__input::placeholder {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                    }

                    .btn {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: #fff;
                        background: #1b7dff;
                        border: none;
                        padding: 15px 39px 14px;
                    }
                    .btn:hover,
                    .btn:focus,
                    .btn:active {
                        background: rgb(19, 57, 100);
                    }
                }
            }
        }
    }
    //Benifits styles start
    .benefits {
        .benifits__wrap {
            max-width: 1262px;
            background-color: #fff;
            margin: 0 auto;
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            position: relative;
            .odigo__title {
                font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                padding: 93px 896px 88px 100px;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-99%);
                background-color: #fff;
            }
            .odigo__travel {
                display: flex;
                .info__travel {
                    .title__travel {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        margin-top: 37px;
                        margin-bottom: 26px;
                    }
                    .subtitle {
                        max-width: 315px;
                    }
                    .more__travel {
                        margin-top: 39px;
                        margin-bottom: 112px;
                        .learn__more {
                            font-size: 16px;
                            line-height: 24px;
                            color: #006dfe;
                            text-decoration: none;
                            margin-right: 26px;
                        }
                    }
                }
                .info__travel:first-child{
                    margin-left: 100px;
                    margin-right: 55px;
                }
                .info__travel:last-child{
                    margin-left: 56px;
                    margin-right: 100px;
                }
            }
        }
    }
}
