@import "reset";
@import "color";

.wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 83%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
}

//header styles
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;

        .header__list {
            display: flex;

            .header__item {
                margin-right: 82px;

                .header__link {
                    font-size: 18px;
                    line-height: 24px;
                    text-decoration: none;
                    color: #fff;
                }

                .header__link:hover,
                .header__link:focus,
                .header__link:active {
                    opacity: 0.75;
                }
            }

            .header__item:last-child {
                margin-right: 0;
            }
        }

        .header__burger {
            display: none;
            width: 40px;
            height: 28px;
            position: relative;

            .burger__line {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 0;
            }

            .burger__line_first {
                top: 0;
            }

            .burger__line_second {
                top: 50%;
                transform: translateY(-50%);
            }

            .burger__line_third {
                bottom: 0;
            }
        }
    }
}

// Intro styles start
.main {
    .intro {
        min-height: 100vh;
        background: url(../../img/bg.jpg) no-repeat center;
        background-size: cover;

        .wrapper {
            .intro__global {
                padding-top: 263px;
                color: #ffffff;

                .intro__title {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 60px;
                    padding-bottom: 22px;
                    max-width: 619px;
                }

                .intro__text {
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 59px;
                }

                .intro__form {
                    display: flex;
                    padding-bottom: 376px;

                    .form__input {
                        background: transparent,
                            url(../../img/svg/Oval.svg) no-repeat left 1px;
                        border: none;
                        border-bottom: 2px solid #bfc0c5;
                        width: 297px;
                        padding-left: 43px;
                        padding-bottom: 22px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                        margin-right: 61px;
                    }

                    .form__input::placeholder {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                    }

                    .btn {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: #fff;
                        background: #1b7dff;
                        border: none;
                        padding: 15px 39px 14px;
                    }

                    .btn:hover,
                    .btn:focus,
                    .btn:active {
                        background: rgb(19, 57, 100);
                    }
                }
            }
        }
    }

    //Benifits styles start
    .benefits {
        margin-bottom: 131px;

        .benifits__wrap {
            max-width: 83%;
            background-color: #fff;
            margin: 0 auto;
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            position: relative;

            .odigo__title {
                font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                padding: 93px 73% 88px 100px;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-99%);
                background-color: #fff;
            }

            .odigo__title-hidden {
                display: none;
                font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                text-align: center;
                padding: 100px 0;
            }

            .odigo__travel {
                display: flex;

                .info__travel {
                    .title__travel {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        margin-top: 37px;
                        margin-bottom: 26px;
                    }

                    .subtitle {
                        max-width: 315px;
                        display: inline;
                    }

                    .more__travel {
                        margin-top: 39px;
                        margin-bottom: 112px;

                        .learn__more {
                            font-size: 16px;
                            line-height: 24px;
                            color: #006dfe;
                            text-decoration: none;
                            padding-right: 59px;
                            background: url(../../img/svg/arrow.svg) no-repeat right center;
                        }
                    }
                }

                .info__travel:first-child {
                    margin-left: 100px;
                    margin-right: 55px;
                }

                .info__travel:last-child {
                    margin-left: 56px;
                    margin-right: 100px;
                }
            }
        }
    }

    //Benifits styles end
    //City styles start
    .city {
        .wrapper-full {
            .city__caption {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 36px;

                .city__title {
                    margin-right: 15px;
                }

                .city__all {
                    font-size: 16px;
                    line-height: 24px;
                    color: #006dfe;
                    padding-right: 59px;
                    text-decoration: none;
                    background: url(../../img/svg/arrow.svg) no-repeat right center;
                }

                .city__all:hover {
                    opacity: 0.6;
                }
            }

            .city__cards {
                display: flex;
                padding-bottom: 10px;

                .city__card {
                    position: relative;


                    .big__pic {
                        width: 100%;
                        height: 354px;
                    }

                    .big__pic::before {
                        display: block;
                        content: "";
                        width: 100%;
                        height: 354px;
                        background: rgba(21, 24, 36, 0.4);
                        position: absolute;
                    }

                    .lit-pic {
                        width: 100%;
                        height: 283px;
                    }

                    .city__card-title {
                        position: absolute;
                        bottom: 27px;
                        left: 29px;
                        font-weight: bold;
                        font-size: 50px;
                        line-height: 60px;
                        color: #fff;
                    }
                }

                .city__margin {
                    margin-right: 10px;
                }

                .city__card::before {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba(21, 24, 36, 0.4);
                    position: absolute;
                }
            }

            //Places start(Prefecture)
            .places {
                .prefecture {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 55px;
                    margin-top: 120px;

                    .prefecture__picture {
                        width: 54%;
                        height: auto;
                    }

                    .prefecture__discription {
                        width: 44%;

                        .prefecture__title {
                            margin-top: 50px;
                            font-weight: 500;
                            font-size: 30px;
                            line-height: 40px;
                            color: #102746;
                        }

                        .prefecture__subtitle {
                            font-size: 16px;
                            line-height: 24px;
                            color: #102746;
                            margin-top: 85px;
                            margin-bottom: 58px;
                        }

                        .prefecture__view {
                            font-size: 16px;
                            line-height: 24px;
                            color: #006dfe;
                            text-decoration: none;
                            background: url(../../img/svg/arrow.svg) no-repeat right;
                            padding-right: 56px;
                        }
                    }
                }
            }
        }
    }

    //City styles end
    //Visit styles start
    .visit {
        .wrapper-full {
            .visit__title {
                margin-top: 107px;
            }

            .visit__city {
                display: flex;
                justify-content: space-between;
                margin-top: 58px;

                .visit__icon {
                    width: 31%;

                    .icon__like {
                        position: relative;

                        .city__icon {
                            width: 100%;
                        }

                        .like__city {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: absolute;
                            bottom: 16px;
                            color: #fff;

                            .like__city-japan {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 24px;
                                margin-left: 25px;
                                margin-right: 74%;
                            }

                            .like__comment {
                                margin-right: 23px;
                                display: flex;

                                .like {
                                    margin-right: 14px;
                                    background: url(../../img/like.png) no-repeat right center;
                                    padding-right: 20px;
                                }

                                .comment {
                                    background: url(../../img/comment.png) no-repeat right center;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }

                    .visit__discription {
                        .visit__text {
                            font-size: 16px;
                            line-height: 24px;
                            color: #102746;
                            margin-top: 45px;
                            margin-bottom: 31px;
                        }

                        .visit__more {
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration: none;
                            background: #006dfe;
                            padding: 12px 19px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    //Visit end
    //Start videos
    .videos {
        width: 100%;
        margin-top: 144px;

        .videos__wrapper {
            width: 94%;
            margin: 0 auto;
            position: relative;

            .video__item {
                padding-top: 56.2%;
            }

            .video__element {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

//Footer start
.footer {
    background: #0e1d28;
    padding: 120px 0;

    .wrapper {
        .footer__item {
            display: flex;

            .footer__logo {
                width: 50%;
            }

            .footer__nav {
                width: 50%;
                display: flex;
                justify-content: space-between;

                .footer__menu-item {
                    .nav__title {
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                    }

                    .footer__menu-link {
                        color: #fff;
                        font-size: 16px;
                        line-height: 24px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@import 'media';