@import "reset";
@import "color";

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

//header styles
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;

        .header__list {
            display: flex;

            .header__item {
                margin-right: 82px;

                .header__link {
                    font-size: 18px;
                    line-height: 24px;
                    text-decoration: none;
                    color: #fff;
                }

                .header__link:hover,
                .header__link:focus,
                .header__link:active {
                    opacity: 0.75;
                }
            }

            .header__item:last-child {
                margin-right: 0;
            }
        }
    }
}

// Intro styles
.main {
    .intro {
        height: 100vh;
        background: url(../../img/bg.jpg) no-repeat center;
        background-size: cover;
    }
}